/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  /*nav*/
body{
    background-color:rgba(241, 241, 243, 1);
    
}

nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    
}
.nav-button{
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    width: 116px;
    height: 52px;
    margin: 24px 160px 24px 0px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;


}
.header-title{
    margin: 31px 0px 31px 160px;
    font-size: 32px;
    font-weight: 700px;
    font-family: fira sans;
}
.hero{
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin-left: 160px;
    margin-right: 160px;
}
.hero-subtitle{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin: 16px 0px;
}
.hero-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}
.hero-button{
    border-radius: 8px;
    border: none;
    background: rgb(0, 106, 80);
    width: 270px;
    height: 56px;
    justify-content: center;
    font-family: Fira sans;
    font-size: 18px;
    font-weight:bold;
    color: rgba(255, 255, 255, 1);
}
.hero-image{
    margin: 80px 60px 150px 0px;
}
.hero-content{
    padding: 117px 0px 117px 60px;

}

/* pillar-card */
.pillar-card{
    
    display: flex;
    justify-content: space-between;
    margin: 0px 160px 0px 160px ;
    gap:24px;
   
    
}
.pillar-main{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    border: none;
    background: rgb(255, 255, 255);
   
    

}
.card-icon{
    margin: 25px 0px 0px 37px;
}
.pillar-subtitle{
    padding-left: 24px;
    font-family: Fira sans;
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}
.pillar-description{
    padding-bottom: 10px;
    padding-left: 24px;
    color: rgba(14, 14, 14, 0.7);
    font-family: fira sans;
    font-weight: 400px;
    font-size: 16px;
}
.pillar-title{
    padding-left: 160px;
    font-family: fira sans;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 80px;
}
/* vision style */
.vision{
    margin-top: 24px;
    
}
.vision-main{
    
    display: flex;
    gap: 24px;
    margin: 0px 160px 0 160px; 
}
.vision-desc{
    padding: 24px;
}
.vision-card{
    margin-top: 24px;
    padding: 32px;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);  
    
}
.vision-image{
    margin-top: 30px;
    padding-left: 32px;
}
.vision-subtitle{
    
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    padding-left: 32px;
    
}
.vision-description{
    
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 32px;


}
.btn-primary{
    margin-top: 24px;
    border: none;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    width: 122px;
    height: 41px;
    margin-left: 32px;
}
.vision-title{
    padding-left: 160px;
}
.vision-desc{
    padding: 0px 160px 0px 160px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}
.vision-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}
/* younus style */


.dr-younus{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-left: 160px;
    margin-top: 16px;
    margin-right: 160px;
    padding: 48px 24px;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position-x: 48px;
    background-position-y: 38px;

    
    
}
.dr-description{
    padding-left: 24px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    
    
}
.dr-title{
    padding-left: 24px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    

}
.dr-sub{
    padding-left: 24px;
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    
}
/* table */
table{
    border-collapse: collapse;
    width: 95%;
    margin: 32px 32px;

}
td{
    border: 1px solid rgba(14, 14, 14, 0.15);;
    padding: 35px;
    padding-left: 24px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
}
th{
    background-color:rgb(198, 228, 214);;

    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 35px;
    padding-left: 24px
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 20px;
    
       
}
.section-ta{
    margin-top: 24px;
    box-sizing: border-box;
    border: none;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-left: 160px;
    margin-right: 160px;
}
.td-des{
    padding-left: 1100px;
}
.table-span{
    background-image: url("../assets/al-jazeera.png");
    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    width: 152px;
    height: 44px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 500;
    margin:auto;
    display:block;
}
.table-heading{
    padding-top: 80px;
    padding-left: 160px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
}
.news-section{
    margin-top: 24px;
    background-color: rgba(14, 14, 14, 0.15);;
    box-sizing: border-box;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    margin-left: 160px; 
    margin-right: 160px;  
    display: flex;
    justify-content: space-between;
    padding: 48px;
}

.news-description{
    margin-top: 56px;
    padding-left: 24px;
    font-family: Fira sans;
    
    
}
.news-logo{
    margin-top: 12px;
}
.news-date{
    margin: 12px 0px;
}
.news-content{
    margin: 12px 0;
}
.news-btn{
    margin-top: 32px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
    padding: 13px 26px 13px 26px
    
}
.news-image{
    border-radius: 24px;
    margin-top: 48px;
    width: 408px;
    height: 306px;
}
.news-title{
    margin-top: 80px;
    padding-left: 160px;
    padding-right: 160px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
}
.news-subtitle{
    margin-top: 24px;
    padding-left: 160px;
    padding-right: 160px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;

}
.last-news{
    margin-top: 24px;
}
/* Donate style */
.donate-box{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;  
}
.donate-title{
    margin-top: 80px;
}
.donate-subtitle{
    margin-top: 24px;
}
.btn-dn{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;    
    background: rgb(255, 255, 255);
    width: 252px;
    height: 128px;
    text-align: center;
    padding: 40px; 
}
.btn-donate{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;    
    background: rgb(255, 255, 255);
    width: 252px;
    height: 128px;
    text-align: center;
    padding: 40px;   
}
.btn-donate:hover{
    background-color:rgb(198, 228, 214) ;
}

.btn-text{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 30px;
    font-weight: 700;
}
.form-1{
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
.form-1 input{
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    width: 1032px;
    height: 64px;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
   
    
}
input::placeholder{
    text-align: center;
}
.btn-done{
    width: 151px;
    height: 56px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    font-family: Fira Sans;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
        
}
.done{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}
.donate-title{
    text-align: center;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
}
.donate-subtitle{
    padding-left: 248px;
    padding-right: 248px;
    text-align: center;
    justify-content: center;
    gap: 24px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;    
}
/* footer */
footer{
    margin-bottom: 24px;
    background: white;
    text-align: justify;
}
footer hr{
    
}
.footer-title{
    text-align: center;
    padding: 10px;
   
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700
    
}
.footer-main{
    margin: 10px 0px;
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.footer-image{
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
footer hr{
    margin: 0 auto;
    border: 1px solid rgba(14, 14, 14, 0.1);
    width:  1122px;;
}
